# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/Dispatcher.class
/EmptyException.class
/ExponentialGenerator.class
/Fingerprint.class
/FullException.class
/LamportQueue.class
/MppRunner.class
/Packet.class
/PacketSource.class
/PacketWorker.class
/PaddedPrimitive.class
/PaddedPrimitiveNonVolatile.class
/ParallelFirewall.class
/ParallelPacketWorker.class
/RandomGenerator.class
/RandomGeneratorApp.class
/SerialFirewall.class
/SerialPacketWorker.class
/SerialQueueFirewall.class
/SerialQueuePacketWorker.class
/StopWatch.class
/UniformGenerator.class
/SerialFirewall1.class
/Backoff.class
/BackoffLock.class
/CounterStruct.class
/CounterWorker.class
/Lock.class
/LockAllocator.class
/ParallelCounter.class
/ParallelPacket.class
/ParallelPacketWorker_LastQueue.class
/ParallelPacketWorker_RandomQueue.class
/SerialCounter.class
/SerialPacket.class
/SoloCounterWorker.class
/TASLock.class
/CLHLock$1.class
/CLHLock$2.class
/CLHLock.class
/MCSLock$1.class
/MCSLock.class
/QNode.class
/ParallelPacketWorker_HomeQueue.class
/ParallelPacketWorker_LockFree.class
/BucketList$Iterator.class
/BucketList.class
/BucketListTest.class
/HashKeyGenerator.class
/HashPacket$PacketType.class
/HashPacket.class
/HashPacketGenerator.class
/HashPacketGeneratorTest.class
/HashPacketWorker.class
/HashTable.class
/LockingHashTable.class
/ParallelHashPacket.class
/SerialHashPacket.class
/SerialHashPacketWorker.class
/SerialHashTable.class
/SerialHashTableTest.class
/SerialList$Iterator.class
/SerialList.class
